parameters:
	ignoreErrors:
		-
			message: "#^Class Tests\\\\TestCase not found\\.$#"
			count: 2
			path: config/somake.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\BuilderCommand\\:\\:askModel\\(\\) should return class\\-string\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\> but returns array\\|bool\\|string\\.$#"
			count: 1
			path: src/Commands/BuilderCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\BuilderCommand\\:\\:askModel\\(\\) should return class\\-string\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\> but returns string\\|null\\.$#"
			count: 1
			path: src/Commands/BuilderCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\BuilderCommand\\:\\:disambiguateModel\\(\\) should return string but returns array\\|string\\.$#"
			count: 1
			path: src/Commands/BuilderCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\FactoryCommand\\:\\:askModel\\(\\) should return class\\-string\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\> but returns array\\|bool\\|string\\.$#"
			count: 1
			path: src/Commands/FactoryCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\FactoryCommand\\:\\:askModel\\(\\) should return class\\-string\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\> but returns string\\|null\\.$#"
			count: 1
			path: src/Commands/FactoryCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\FactoryCommand\\:\\:disambiguateModel\\(\\) should return string but returns array\\|string\\.$#"
			count: 1
			path: src/Commands/FactoryCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\PolicyCommand\\:\\:askModel\\(\\) should return class\\-string\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\> but returns array\\|bool\\|string\\.$#"
			count: 1
			path: src/Commands/PolicyCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\PolicyCommand\\:\\:askModel\\(\\) should return class\\-string\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\> but returns string\\|null\\.$#"
			count: 1
			path: src/Commands/PolicyCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\PolicyCommand\\:\\:disambiguateModel\\(\\) should return string but returns array\\|string\\.$#"
			count: 1
			path: src/Commands/PolicyCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\RequestCommand\\:\\:askDTO\\(\\) should return class\\-string\\<Spatie\\\\DataTransferObject\\\\DataTransferObject\\> but returns string\\|null\\.$#"
			count: 1
			path: src/Commands/RequestCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\RequestCommand\\:\\:disambiguateDtos\\(\\) should return string but returns array\\|string\\.$#"
			count: 1
			path: src/Commands/RequestCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\RequestCommand\\:\\:resolveFields\\(\\) should return array\\<string, array\\<string\\>\\> but returns array\\<int, mixed\\>\\.$#"
			count: 1
			path: src/Commands/RequestCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\ResourceCommand\\:\\:askModel\\(\\) should return class\\-string\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\> but returns array\\|bool\\|string\\.$#"
			count: 1
			path: src/Commands/ResourceCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\ResourceCommand\\:\\:askModel\\(\\) should return class\\-string\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\> but returns string\\|null\\.$#"
			count: 1
			path: src/Commands/ResourceCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\ResourceCommand\\:\\:disambiguateModel\\(\\) should return string but returns array\\|string\\.$#"
			count: 1
			path: src/Commands/ResourceCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\TestCommand\\:\\:askClass\\(\\) should return class\\-string but returns array\\|bool\\|string\\.$#"
			count: 1
			path: src/Commands/TestCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\TestCommand\\:\\:askClass\\(\\) should return class\\-string but returns string\\|null\\.$#"
			count: 1
			path: src/Commands/TestCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\TestCommand\\:\\:askType\\(\\) should return string but returns array\\|bool\\|string\\|null\\.$#"
			count: 1
			path: src/Commands/TestCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\TestCommand\\:\\:askType\\(\\) should return string but returns array\\|string\\.$#"
			count: 1
			path: src/Commands/TestCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\TestCommand\\:\\:disambiguateClass\\(\\) should return string but returns array\\|string\\.$#"
			count: 1
			path: src/Commands/TestCommand.php

		-
			message: "#^Access to an undefined property PHPStan\\\\PhpDocParser\\\\Ast\\\\PhpDoc\\\\PhpDocTagValueNode\\:\\:\\$propertyName\\.$#"
			count: 1
			path: src/Domains/DocBlock/DocBlock.php

		-
			message: "#^Access to an undefined property PHPStan\\\\PhpDocParser\\\\Ast\\\\PhpDoc\\\\PhpDocTagValueNode\\:\\:\\$type\\.$#"
			count: 1
			path: src/Domains/DocBlock/DocBlock.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Domains\\\\Request\\\\Ruler\\:\\:nestedRules\\(\\) should return array\\<string, array\\<string\\>\\> but returns array\\<int, mixed\\>\\.$#"
			count: 1
			path: src/Domains/Request/Ruler.php

		-
			message: "#^Parameter \\#1 \\$view of function view expects view\\-string\\|null, string given\\.$#"
			count: 2
			path: src/Support/PendingWriter.php

