parameters:
	ignoreErrors:
		-
			message: "#^Command \"somake\\:builder\" does not have option \"model\"\\.$#"
			count: 2
			path: src/Commands/BuilderCommand.php

		-
			message: "#^Left side of && is always false\\.$#"
			count: 1
			path: src/Commands/BuilderCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\BuilderCommand\\:\\:askModel\\(\\) should return class\\-string\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\> but returns array\\|bool\\|string\\.$#"
			count: 1
			path: src/Commands/BuilderCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\BuilderCommand\\:\\:askModel\\(\\) should return class\\-string\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\> but returns string\\.$#"
			count: 2
			path: src/Commands/BuilderCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\BuilderCommand\\:\\:askModel\\(\\) should return class\\-string\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\> but returns string\\|null\\.$#"
			count: 1
			path: src/Commands/BuilderCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\BuilderCommand\\:\\:disambiguateModel\\(\\) should return string but returns int\\|string\\.$#"
			count: 1
			path: src/Commands/BuilderCommand.php

		-
			message: "#^Parameter \\$options of function Laravel\\\\Prompts\\\\select expects array\\<int\\|string, string\\>\\|Illuminate\\\\Support\\\\Collection\\<int\\|string, string\\>, Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\), class\\-string\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\> given\\.$#"
			count: 1
			path: src/Commands/BuilderCommand.php

		-
			message: "#^Left side of && is always true\\.$#"
			count: 1
			path: src/Commands/FactoryCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\FactoryCommand\\:\\:askModel\\(\\) should return class\\-string\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\> but returns string\\.$#"
			count: 3
			path: src/Commands/FactoryCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\FactoryCommand\\:\\:askModel\\(\\) should return class\\-string\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\> but returns string\\|null\\.$#"
			count: 1
			path: src/Commands/FactoryCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\FactoryCommand\\:\\:disambiguateModel\\(\\) should return string but returns int\\|string\\.$#"
			count: 1
			path: src/Commands/FactoryCommand.php

		-
			message: "#^Parameter \\$options of function Laravel\\\\Prompts\\\\select expects array\\<int\\|string, string\\>\\|Illuminate\\\\Support\\\\Collection\\<int\\|string, string\\>, Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\), class\\-string\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\> given\\.$#"
			count: 1
			path: src/Commands/FactoryCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\ListenerCommand\\:\\:askEvent\\(\\) should return ''\\|class\\-string but returns non\\-empty\\-string\\.$#"
			count: 1
			path: src/Commands/ListenerCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\ListenerCommand\\:\\:askEvent\\(\\) should return ''\\|class\\-string but returns string\\.$#"
			count: 1
			path: src/Commands/ListenerCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\ListenerCommand\\:\\:askEvent\\(\\) should return ''\\|class\\-string but returns string\\|null\\.$#"
			count: 1
			path: src/Commands/ListenerCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\ListenerCommand\\:\\:disambiguateEvent\\(\\) should return string but returns int\\|string\\.$#"
			count: 1
			path: src/Commands/ListenerCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\ListenerCommand\\:\\:qualifyEvent\\(\\) should return class\\-string but returns string\\.$#"
			count: 1
			path: src/Commands/ListenerCommand.php

		-
			message: "#^Parameter \\$options of function Laravel\\\\Prompts\\\\select expects array\\<int\\|string, string\\>\\|Illuminate\\\\Support\\\\Collection\\<int\\|string, string\\>, Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\), class\\-string\\> given\\.$#"
			count: 1
			path: src/Commands/ListenerCommand.php

		-
			message: "#^Property Illuminate\\\\Database\\\\Console\\\\Migrations\\\\MigrateMakeCommand\\:\\:\\$signature \\(string\\) does not accept array\\<string\\>\\|string\\.$#"
			count: 1
			path: src/Commands/MigrationCommand.php

		-
			message: "#^Command \"somake\\:policy\" does not have option \"model\"\\.$#"
			count: 2
			path: src/Commands/PolicyCommand.php

		-
			message: "#^Left side of && is always false\\.$#"
			count: 1
			path: src/Commands/PolicyCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\PolicyCommand\\:\\:askModel\\(\\) should return class\\-string\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\> but returns array\\|bool\\|string\\.$#"
			count: 1
			path: src/Commands/PolicyCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\PolicyCommand\\:\\:askModel\\(\\) should return class\\-string\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\> but returns string\\.$#"
			count: 2
			path: src/Commands/PolicyCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\PolicyCommand\\:\\:askModel\\(\\) should return class\\-string\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\> but returns string\\|null\\.$#"
			count: 1
			path: src/Commands/PolicyCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\PolicyCommand\\:\\:disambiguateModel\\(\\) should return string but returns int\\|string\\.$#"
			count: 1
			path: src/Commands/PolicyCommand.php

		-
			message: "#^Parameter \\$options of function Laravel\\\\Prompts\\\\select expects array\\<int\\|string, string\\>\\|Illuminate\\\\Support\\\\Collection\\<int\\|string, string\\>, Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\), class\\-string\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\> given\\.$#"
			count: 1
			path: src/Commands/PolicyCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\RequestCommand\\:\\:askData\\(\\) should return class\\-string\\<Spatie\\\\LaravelData\\\\Data\\> but returns string\\.$#"
			count: 2
			path: src/Commands/RequestCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\RequestCommand\\:\\:askData\\(\\) should return class\\-string\\<Spatie\\\\LaravelData\\\\Data\\> but returns string\\|null\\.$#"
			count: 1
			path: src/Commands/RequestCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\RequestCommand\\:\\:disambiguateDatas\\(\\) should return string but returns int\\|string\\.$#"
			count: 1
			path: src/Commands/RequestCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\RequestCommand\\:\\:qualifyData\\(\\) should return class\\-string\\<Spatie\\\\LaravelData\\\\Data\\> but returns class\\-string\\.$#"
			count: 1
			path: src/Commands/RequestCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\RequestCommand\\:\\:qualifyData\\(\\) should return class\\-string\\<Spatie\\\\LaravelData\\\\Data\\> but returns string\\.$#"
			count: 1
			path: src/Commands/RequestCommand.php

		-
			message: "#^Parameter \\$options of function Laravel\\\\Prompts\\\\select expects array\\<int\\|string, string\\>\\|Illuminate\\\\Support\\\\Collection\\<int\\|string, string\\>, Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\), class\\-string\\<Spatie\\\\LaravelData\\\\Data\\>\\> given\\.$#"
			count: 1
			path: src/Commands/RequestCommand.php

		-
			message: "#^Command \"somake\\:resource\" does not have option \"model\"\\.$#"
			count: 2
			path: src/Commands/ResourceCommand.php

		-
			message: "#^Left side of && is always false\\.$#"
			count: 1
			path: src/Commands/ResourceCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\ResourceCommand\\:\\:askModel\\(\\) should return class\\-string\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\> but returns array\\|bool\\|string\\.$#"
			count: 1
			path: src/Commands/ResourceCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\ResourceCommand\\:\\:askModel\\(\\) should return class\\-string\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\> but returns string\\.$#"
			count: 2
			path: src/Commands/ResourceCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\ResourceCommand\\:\\:askModel\\(\\) should return class\\-string\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\> but returns string\\|null\\.$#"
			count: 1
			path: src/Commands/ResourceCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\ResourceCommand\\:\\:disambiguateModel\\(\\) should return string but returns int\\|string\\.$#"
			count: 1
			path: src/Commands/ResourceCommand.php

		-
			message: "#^Parameter \\$options of function Laravel\\\\Prompts\\\\select expects array\\<int\\|string, string\\>\\|Illuminate\\\\Support\\\\Collection\\<int\\|string, string\\>, Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\), class\\-string\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\> given\\.$#"
			count: 1
			path: src/Commands/ResourceCommand.php

		-
			message: "#^Left side of && is always true\\.$#"
			count: 1
			path: src/Commands/TestCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\TestCommand\\:\\:askClass\\(\\) should return class\\-string but returns string\\.$#"
			count: 3
			path: src/Commands/TestCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\TestCommand\\:\\:askClass\\(\\) should return class\\-string but returns string\\|null\\.$#"
			count: 1
			path: src/Commands/TestCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\TestCommand\\:\\:askType\\(\\) should return string but returns int\\|string\\.$#"
			count: 1
			path: src/Commands/TestCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\TestCommand\\:\\:disambiguateClass\\(\\) should return string but returns int\\|string\\.$#"
			count: 1
			path: src/Commands/TestCommand.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Commands\\\\TestCommand\\:\\:qualifyClass\\(\\) should return class\\-string but returns string\\.$#"
			count: 1
			path: src/Commands/TestCommand.php

		-
			message: "#^Parameter \\$options of function Laravel\\\\Prompts\\\\select expects array\\<int\\|string, string\\>\\|Illuminate\\\\Support\\\\Collection\\<int\\|string, string\\>, Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\), class\\-string\\> given\\.$#"
			count: 1
			path: src/Commands/TestCommand.php

		-
			message: "#^Access to an undefined property PHPStan\\\\PhpDocParser\\\\Ast\\\\PhpDoc\\\\PhpDocTagValueNode\\:\\:\\$type\\.$#"
			count: 1
			path: src/Domains/DocBlock/DocBlock.php

		-
			message: "#^Parameter \\#1 \\$subject of static method Illuminate\\\\Support\\\\Str\\:\\:after\\(\\) expects string, string\\|null given\\.$#"
			count: 2
			path: src/Domains/Model/Model.php

		-
			message: "#^Method Soyhuce\\\\Somake\\\\Domains\\\\Request\\\\RouteGuesser\\:\\:url\\(\\) should return string but returns array\\<string\\>\\|string\\.$#"
			count: 1
			path: src/Domains/Request/RouteGuesser.php

		-
			message: "#^Unable to resolve the template type TMakeKey in call to method static method Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\),mixed\\>\\:\\:make\\(\\)$#"
			count: 1
			path: src/Domains/Test/UnitTestGenerator.php

		-
			message: "#^Unable to resolve the template type TMakeValue in call to method static method Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\),mixed\\>\\:\\:make\\(\\)$#"
			count: 1
			path: src/Domains/Test/UnitTestGenerator.php

		-
			message: "#^Parameter \\#1 \\$callback of method Illuminate\\\\Container\\\\Container\\:\\:call\\(\\) expects \\(callable\\(\\)\\: mixed\\)\\|string, array\\{Illuminate\\\\Foundation\\\\Http\\\\FormRequest, 'rules'\\} given\\.$#"
			count: 1
			path: src/Domains/Test/UnitTestGenerators/FormRequestTestGenerator.php

		-
			message: "#^Parameter \\#1 \\$objectOrClass of class ReflectionClass constructor expects class\\-string\\<T of object\\>\\|T of object, string given\\.$#"
			count: 1
			path: src/Domains/Test/UnitTestGenerators/ListenerTestGenerator.php

